.fbg-bar {
	color: #fff;
	flex: grow;
}

.fbg-bar-bg-0 {
	background-color: #ef476f;
}

.fbg-bar-bg-1 {
	background-color: #06d6a0;
}

.fbg-bar-bg-2 {
	background-color: #e85d04;
}

.fbg-bar-bg-3 {
	background-color: #415a77;
}

.fbg-bar-bg-4 {
	background-color: #7209b7;
}

.fbg-default-tail {
	flex: 0 0 4.25em;
}

.fbg-row {
	display: flex;
	margin-bottom: 2px;
}

.flex-graph-page {
	margin: 0 auto;
	max-width: 750px;
}
