.yoga-bar-chart {
	display: block;
}

.yoga-bar-chart-col {
	display: block;
	overflow-x: scroll;
	text-align: center;
	white-space: nowrap;
}

.ybc-bar {
	color: #fff;
	flex: grow;
}

.ybc-bar-bg-0 {
	background-color: #ef476f;
}

.ybc-bar-bg-1 {
	background-color: #06d6a0;
}

.ybc-bar-bg-2 {
	background-color: #e85d04;
}

.ybc-bar-bg-3 {
	background-color: #415a77;
}

.ybc-bar-bg-4 {
	background-color: #7209b7;
}

.ybc-bar-bg-5 {
	background-color: #1a53ff;
}

.ybc-bar-bg-6 {
	background-color: #87bc45;
}

.ybc-bar-bg-7 {
	background-color: #b30000;
}

.ybc-bar-bg-8 {
	background-color: #e5ddc8;
}

.ybc-bar-bg-9 {
	background-color: #c197d2;
}

.ybc-bar-bg-10 {
	background-color: #fad02c;
}

.ybc-bar-bg-11 {
	background-color: #90adc6;
}

.ybc-bar-bg-12 {
	background-color: #000;
}

.ybc-bar-bg-13 {
	background-color: #000;
}

.ybc-bar-bg-14 {
	background-color: #000;
}

.ybc-bar-bg-15 {
	background-color: #000;
}

.ybc-col {
	display: inline-block;
	min-width: 4em;
}

.ybc-default-tail {
	flex: 0 0 4.25em;
}

.ybc-row {
	display: flex;
	margin-bottom: 2px;
}

.ybc-row-rtl {
	direction: rtl;
}
